<div class="jumbotron">
  <div class="text-center">
    <h1>{{words[index_selectedWord].name}}</h1>
    <p>{{words[index_selectedWord].voting}} Stimmen (Rang: {{index_selectedWord+1}})</p>
    <button ng-click="increaseVoting(index_selectedWord); saveWord(); findSelWordIndex(); showVoteMsg=1" type="button" class="btn btn-default btn-lg btn-thumbs-up">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    <button ng-click="decreaseVoting(index_selectedWord); saveWord(); findSelWordIndex(); showVoteMsg=2" type="button" class="btn btn-default btn-lg btn-thumbs-down">
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </button>
    <p class="p-show p-show-yo animate-appear" ng-show="showVoteMsg==1">Hervorragende Wahl :) !</p>
    <p class="p-show p-show-no animate-appear" ng-show="showVoteMsg==2">Gefällt dir nicht :O ?</p>
  <div>
</div>
